*.class
*.swp

croder/.metadata/
croder/org.eclipse*
croder/ReviewBrowser/lib/.fuse_hidden*
runtime-EclipseApplication/


mturk-api/build
mturk-api/.classpath
/hw4/bin/
mturk-api/.project
*.log
*.1
*.success
*.results
*.aux
*.gz
*.out
*.blg
*.bbl
*.dvi
*.fdb_latexmk
*.fls
croder/.metadata
.metadata
