*.class
*.swp

croder/.metadata/
croder/org.eclipse*
runtime-EclipseApplication/


mturk-api/build
mturk-api/.classpath
/hw4/bin/
mturk-api/.project

*.log

*.1

*.success

*.results

*.aux

*.gz

*.pdf

*.out

*.blg

*.bbl
