<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CodeSelectorCategory"
            id="CodeSelector">
      </category>
      <view
            name="CodeSelector"
            icon="icons/sample.gif"
            category="CodeSelector"
            class="edu.illinois.codeselector.views.CodeSelectorView"
            id="edu.illinois.codeselector.views.CodeSelectorView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="edu.illinois.codeselector.views.CodeSelectorView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.dropActions">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="CodeSelector.addSnippetCategory"
            categoryId="CodeSelector.addSnippetCategory"
            defaultHandler="edu.illinois.codeselector.views.AddSnippetCommand"
            id="CodeSelector.addSnippetCommand"
            name="AddSnippetCommand">
      </command>
   </extension>
   
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI=
         "popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="CodeSelector.addSnippetCommand"
               label="Add to code review"
               tooltip="Add item as code review snippet">
         </command>
      </menuContribution>
   </extension>
    <extension
          id="edu.illinois.croder.snippetMarker"
          name="SnippetMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.textmarker">
       </super>
       <persistent
             value="false">
       </persistent>
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
    </extension>
    <extension
    	  id="edu.illinois.croder.markerAnnotation"
    	  name="Review Marker Annotation"
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerSeverity="1"
             markerType="edu.illinois.croder.snippetMarker"
             name="edu.illinois.croder.markerAnnotation"
             super="org.eclipse.ui.workbench.texteditor.info">
       </type>
    </extension>
    <extension
          id="edu.illinois.croder.markerAnnotationSpecification"
          name="Review"
          point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
          annotationType="edu.illinois.croder.markerAnnotation"
          colorPreferenceKey="croder.color"
          colorPreferenceValue="0,255,0"
          contributesToHeader="true"
          includeOnPreferencePage="true"
          icon="icons/bubble.png"
          label="Review"
          overviewRulerPreferenceKey="croder.rulers.overview"
          overviewRulerPreferenceValue="true"
          presentationLayer="0"
          symbolicIcon="warning"
          textPreferenceKey="croder.text"
          textPreferenceValue="true"
          textStylePreferenceKey="croder.textStylePreference"
          textStylePreferenceValue="BOX"
          verticalRulerPreferenceKey="croder.rulers.vertical"
          verticalRulerPreferenceValue="true">
    </specification>
    </extension>
   

</plugin>
